@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&family=Merriweather:ital,wght@1,900&display=swap');

body {
  margin: 0;
  padding: 0;
}

main{
  background-color: #f9fafc;
  color: #0c0e14;
}

/* https://github.com/aliifam/BlinkMacSystemFont?tab=readme-ov-file */

h1,h2,h3,h4,h5,h6,dt{
  font-family: 'Merriweather', serif;
}

p,a{
  font-family: 'Merriweather Sans', sans-serif;
}

.bg-a{
  background-color: #4c69bb;
}

.bg-s{
  background-color: #6c89de;
}

.c-s{
  color: #e2e3f5;
}

.img{
  height: 300px;
}

.card{
  background-color: #95a8df !important;
  color: #131127 !important;
}

.navbar{
  padding: 2px !important;
}




