@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&family=Merriweather:ital,wght@1,900&display=swap');

body {
  margin: 0;
  padding: 0;
}

main{
  background-color: #131127;
  color: #e2e3f5;
}

/* https://github.com/aliifam/BlinkMacSystemFont?tab=readme-ov-file */

h1,h2,h3,h4,h5,h6,dt{
  font-family: 'Merriweather', serif;
}

p,a{
  font-family: 'Merriweather Sans', sans-serif;
}

.bg-a{
  background-color: #131127;
}

.bg-s{
  background-color: #9095da;
}

.c-s{
  color: #e2e3f5;
}

.img{
  height: 300px;
}

.card{
  background-color: #9095da !important;
  color: #131127 !important;
}

.navbar{
  padding: 1px !important;
}

.btn-close{
  color: #e2e3f5 !important;
}




